html,
body {
    overflow: hidden;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

model-viewer {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #ffffff;
}

.progress-bar {
    display: block;
    width: 33%;
    height: 10%;
    max-height: 2%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate3d(-50%, -50%, 0);
    border-radius: 25px;
    box-shadow: 0px 3px 10px 3px rgba(0, 0, 0, 0.5), 0px 0px 5px 1px rgba(0, 0, 0, 0.6);
    border: 1px solid rgba(255, 255, 255, 0.9);
    background-color: rgba(0, 0, 0, 0.5);
}

.progress-bar.hide {
    visibility: hidden;
    transition: visibility 0.3s;
}

.update-bar {
    background-color: rgba(255, 255, 255, 0.9);
    width: 0%;
    height: 100%;
    border-radius: 25px;
    float: left;
    transition: width 0.3s;
}

#webar {
    position: absolute;
    width: 100%;
    height: 100%;
}

/* material Panel */

.material-wrapper {
    position: absolute;
    /* top: 50%;
    right: 0px;
    width: 150px;
    transform: translate(0, -50%); */
    bottom: 8%;
    width: 100%;
}

.material-header-wrapper {
    text-align: center;
    color: black;
    font-size: 18px;
    font-weight: 650;
    margin-bottom: 10px;
}

.material-image-wrapper div img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    cursor: pointer;
    margin: 5px;
}

@media only screen and (min-height: 600px) {
    .material-image-wrapper div img {
        width: 60px;
        height: 60px;
        border-radius: 50%;
        cursor: pointer;
        margin: 5px;
    }
}

.material-image-wrapper div {
    text-align: center;
}

#material_collection {
    display: flex;
    overflow-x: auto;
    overflow-y: hidden;
    scroll-behavior: auto;
    height: 90px;
    width: 100%;
    align-items: flex-start;
    justify-content: center;
}

#material_collection label{
    min-width: fit-content;
}

#material_collection::-webkit-scrollbar {
    height: 10px;
    background-color:#000;
}

#material_collection::-webkit-scrollbar-thumb {
    height: 5px;
    background-color:#fa6400;
}

#material_collection input {
    display: none;
}

#material_collection input:checked+img {
    border: 5px solid black;
}

.silderMainWrapper{
    position: relative;
    display: flex;
    justify-content: center;
    top: 20px;
}